﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebFormHolaWebApp.aspx.cs" Inherits="AplicacionWeb.WebFormHolaWebApp" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div style="text-align: center">
            <asp:TextBox ID="txtNombre" runat="server" Width="224px"></asp:TextBox>
            <br />
            <br />
            <asp:Button ID="btnSaludar" runat="server" OnClick="btnSaludar_Click" style="text-align: center" Text="Presione" />
            <br />
            <br />
            <asp:Label ID="lblSaludo" runat="server"></asp:Label>
            <br />
        </div>
    </form>
</body>
</html>
