﻿<%@ Page Title="" Language="C#" MasterPageFile="~/BootstrapMaster.Master" AutoEventWireup="true" CodeBehind="WebFormHome.aspx.cs" Inherits="WA_Bootstrap.WebFormHome" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    </br>
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Pantalla Inicio</h1>
                <p class="lead">Jumbotron modificado que ocupa todo el espacio horizontal.</p>
            </div>
        </div>
</asp:Content>
