﻿body {
    background-color: #00B09D;
}

h1 {
    color: #80DAC8;
    text-align: center;
    font-family: 'Prompt', sans-serif;
}

p {
    color: #F7FD95;
    font-size: 14px;
    font-family: 'Prompt', sans-serif;
}
    /* identar codigo: ctrl + k + d*/
    p.punteado {
        border-style: dotted;
    }

    p.mayusc {
        text-transform: uppercase;
    }

    p.capital {
        text-transform: capitalize;
    }
table {
    border-collapse:collapse;
}
table, td, th {
    border: 1px double #006A5F;
    padding: 6px;
}