﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Maestra.Master" AutoEventWireup="true" CodeBehind="WebFormNoClick.aspx.cs" Inherits="WA_CSS_MasterPage.WebFormNoClick" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>Y dio click</h1>
    <p class="segundo">
        Déjeme decirle que usted es un necio!!!
    </p>
</asp:Content>
