﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterSolucion.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="CursosWeb.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class ="jumbotron mt-3 bg-primary">
        <h1 class="display-4 text-center text-white">Home!</h1>

    </div>
</asp:Content>
