﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WF_ConsumoServicio.aspx.cs" Inherits="ClienteServiciosCursos.WF_ConsumoServicio" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:GridView runat="server" ID="gvCiudades" ></asp:GridView>
        </div>
    </form>
</body>
</html>
